{% load static %}

<head>
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Programming - Uma segunda ferramenta para entender</title>
    <!-- InstanceEndEditable -->
    <meta charset="utf-8">
    <link rel="icon" type="imagem/png" href="favicon.png">
    <link href={% static 'css/estilo.css' %} rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!--<link rel="stylesheet" href="https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css">-->
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
</head>