{% extends "base.html" %}
{% block content %}



<! -- Conteúdo do site -->
<!-- InstanceBeginEditable name="EditRegion3" -->
<div class="colunadireita">
  <div class="colunaesquerda">
    <div class="conteudo">
      <h2>Bem vindos</h2>
      <p> A Finalidade desse site é mostrar uma abordagem mais prática dos conteúdos de programação, visto que em aula, há maior ênfase em conceitos e algumas vezes não em sua aplicação por diveros motivos.</p>
      <p>É importante que o aluno pratique programação, e use o site apenas para o auxílio na hora de estudar os conteúdos. </p>
      <p> Aqui serão encontradas as matérias de programação que a Escola Estadual de Ensino Médio Professora Maria Rocha disponibiliza no ensino médio integrado em informática. Estas matérias são:</p>
      <li type="disc"> Algoritmo e Programação;</li>
      <li type="disc">Banco de Dados;</li>
      <li type="disc">Desenvolvimento de Sistemas;</li>
      <li type="disc">Programação Para Web 1;</li>
      <li type="disc">Programação Para Web 2.</li>
      <br>
    </div>
  </div>
</div>


{% endblock %}
