<section class="section has-background-light" style="background-color:#94729c;">
    <div class="container">
        <div class="level is-mobile">

            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Total de Produtos</p>
                    <p class="title">{{ qtd_produtos }} </p>
                </div>
            </div>

            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Produtos Para Acabar</p>
                    <p class="title">{{ min_produtos }} </p>
                </div>
            </div>

            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Produtos Em Falta</p>
                    <p class="title">{{ zero_produtos }} </p>
                </div>
            </div>
        </div>
    </div>
</section>