{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="column is-mobile">
            <div class="column is-half is-off-set-one-quarter">
                <h3 class="title is-size-3">Cadastro de Produto</h3>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="field">
                        {%if field.html_name == 'foto' %}
                        {% if field.value is not empty %}
                        <img src="{{ produto.foto.thumbnail.url }}" class="img-fluid" alt=""/>
                        <label class="label is-capitalized"> {{ field }}</label>
                        {% else %}
                        <label class="label is-capitalized">{{ field.label }}: {{ field }} </label>
                        {% endif %}
                        {% else %}
                        <label class="label is-capitalized">{{ field.label }}: {{ field }} </label>
                        {% endif %}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text }}</p>
                        {% endif %}
                        {% for error in field.errors %}
                        <p class="help is-danger"> {{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button class="button is-link is-primary" type="submit">Salvar</button>
                    <button class="button is-link is-primary" type="submit" name="save_and_new" value= "save_and_new">Adicionar
                        Nova data
                    </button>

                    <button class="button is-danger is-pulled-right" type="reset">
                        <a href="{% url 'produtos' %}">Cancelar</a>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
